name: flake

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
    - uses: DeterminateSystems/nix-installer-action@v4
    - uses: DeterminateSystems/magic-nix-cache-action@v2
    - uses: actions/checkout@v4
    - run: nix flake check

  build:
    runs-on: ubuntu-latest
    needs: check
    steps:
    - uses: DeterminateSystems/nix-installer-action@v4
    - uses: DeterminateSystems/magic-nix-cache-action@v2
    - uses: actions/checkout@v4
    - run: nix build --json --no-link --print-build-logs > output.json
    - run: cat output.json | jq -r '.[0].outputs.out'
